.front{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    background-image: url("http://3.bp.blogspot.com/-XyL3ytYomcI/V0cnVmdqAJI/AAAAAAAAvs0/6aNJKAyd8WMx9eUHfTGZON3hWJ1YZuqYwCHM/s1600/beautiful-racing-cars-wallpaper-full-hd-pictures.jpg");
    object-fit: cover ;
}

.gallery-delimitation{
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
    margin-top: 3%;
}

.gallery{
    position: relative;
    display: flex;
    width: 100%;
    height: 450px;
    background-color: gray;
    justify-content: center;
    align-items: center;  

    &__container-images{
        width: 100%;
        height: 100%; 
    }

    &__container-arrows{
        position: absolute;
        width: 100%;
        height: 70px;
        //background-color: lightcoral;   
    }  

    &__arrow-light{
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 4px;
        right: 5px;
    }

    &__arrow-left{
            position: absolute;
            width: 50px;
            height: 50px;
            border-radius: 4px;
            left: 5px;
            
    }

    &__container-dots{
        position: absolute;
        bottom: 0px;
        width: 80%;
        height: 40px;
        //background-color: green;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__style-dots-images {
        list-style: none; 
        opacity: 0;

       
    }
    
    &__dots{
        width: 20px;
        height: 20px;
        border-radius: 40px;
        margin-right: 5px;

        &--selected {
            background-color: green;
        }
    }

    &__images{
        width: 100%;
        height: 450px;
        object-fit: content;
        position: absolute;
        top: 0;

        &--selected{
            opacity: 1;
        }
    }

    
}


